.remove-btn {
  margin-right: 0.5rem;
}

.arrow-icon {
  font-size: 15px;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  transform: translateX(320px);
  transition: transform 800ms ease-in;
}
